/* glowne*/
body {  
     padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
  header{
    display: flex;
    flex-wrap: wrap;
    align-items:center ;
    
    padding: 0 3rem;
   height: 75px;
   justify-content: space-between;
   
}
header  * {
    text-decoration: none;
    font-size: 1.6em;
    color: black
}
html, body {
    height: 94.51%;
    
  }
main{
    min-height: 94.51%;
    height: auto !important;
    height: 94.51%;
  
}
/* html, body {
    height: 100%;
    
  }
main{
    min-height: 100%;
    height: auto !important;
    height: 100%;
  
} */

.przycisk_home{
    
    border-radius: 8px;
    padding-left: 1.7em;
    padding-right: 5em;
    
} 
footer{
   
   height: 75px;
    display:flex ;
    justify-content: center;
}
footer>p{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
   
}

    /* Motywy */

/* motyw ciemny */
.dark_mode_m{
    background-color: black;
    color: white;
}
.dark_mode_hf{
    background-color: rgb(255, 136, 0);
     color: black
}
/* motyw jasny */
.light_mode_m{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.light_mode_hf{
    background-color: rgb(0, 195, 255);
}
/* motyw czerwony */
.red_mode_m{
    background-color: rgb(41, 0, 0);
    color: rgb(255, 0, 0);
}
.red_mode_hf{
    background-color: rgb(0, 0, 0);  
}
