

.container {

   display: grid;
   place-items:center ;

}

main>form{
    border: 1px solid white;
    border-radius: 10px ;
    width: 43em;
    height: 33em;
    margin-top: 1em;
}


main>form>h1{
    display: flex;
     font-size: 3em;
    justify-content: center; 
  margin-bottom: 2em;
}

section{
    
    display:flex ;
    flex-wrap: wrap;
    justify-content:center ;
   
   
    
}

section *{ 
    
   display: flex;

    margin-bottom: 1em;
    
}
section>label{
    font-size: 1.5em;
 

}
input{
    margin-left: 3px;
    margin-right: 14px;
    width: 230px;
    border-radius: 10px;
}

.przycisk2>button {
    font-size: 2em;
    width: auto;

    
}
.przycisk2{
    
    display:flex;
    justify-content: center;
    margin-top: 2em;
}
